/*Url*/

@import url(https://db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

/*Css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", sans-serif;
    text-decoration: none;
}

/* Estilo para a div flutuante */

.hidden {
    display: none;
}

/* Css Player*/
.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --blue-color: #003153;
    --pading: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Alteração: posição fixa */
    top: 78%; /* Fixa no topo */
    left: 0;
    width: 100%; /* Ocupa toda a largura */
    height: 8rem;
    padding: var(--pading);
    color: var(--primary-color);
    z-index: 9999; /* Valor alto para garantir que fique por cima de outros elementos */
}


i {
    color: var(--secondary-color);
}

i:hover {
    color: var(--primary-color);
}

.song-bar {
    position: absolute;
    left: var(--pading);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;

}

.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-description {
    margin: 0.2em;
}

.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.title:hover,
.artist:hover {
    text-decoration: underline;
}

.artist {
    color: var(--secondary-color);
}

.icons {
    display: flex;
    gap: 1em;
    margin-bottom: 45px;
    cursor: pointer;

}

.progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    cursor: pointer;
}

.play-pause {
    display: inline-block;
    padding: 1em;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 100%;
}

.play-pause:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #ffffff2a;
    border-radius: 100%;
}

/* Estilos para a barra de progresso principal */
.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: relative;
    /* Adiciona posição relativa */
}

.progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    position: relative;
}

.progress [type="range"] {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.progress-bar:hover .progress {
    background-color: var(--blue-color);
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--blue-color);
    overflow: hidden;
    cursor: pointer;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: -400px 0 0 400px blue;
}

/* Estilos para a barra de volume */
.other-features {
    position: absolute;
    right: 1em;
    /* Ajuste a posição conforme necessário */
    bottom: 2em;
    /* Ajuste para posicionar verticalmente conforme necessário */
    display: flex;
    flex-direction: row;
    gap: 1em;
    cursor: pointer;
}

.volume-bar {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.volume-progress-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background-color: var(--blue-color);
    overflow: hidden;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.volume-progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 10px solid black;
    box-shadow: -400px 0 0 400px blue;
}